@model TechnicalProgrammingProject.Models.Recipe

@if (Request.IsAuthenticated)
{
<div class="col-md-4 hvr-curl-bottom-right" id="cardbody">
    <div class="recipeCard">
        <a href=@Url.Action("Details", "Recipes", new { id = Model.ID })>
                @Html.Image(Model.ImageURL, new { @class = "img  hvr-float-shadow" })
        </a>
        <div class="content">
            <h3>@Html.DisplayFor(modelItem => Model.Name)</h3>
            Rating: @Html.Action("getRatingAverage", "Recipes", new { recID = Model.ID })
        </div>
    </div>
</div>
}
else
{
    <div class="col-md-4 hvr-curl-bottom-right" id="cardbody">
        <div class="recipeCard">
            <a href=@Url.Action("Details", "Recipes", new { id = Model.ID })>
                @Html.Image(Model.ImageURL, new { @class = "img  hvr-float-shadow" })
            </a>
            <div class="content">
                <h3>@Html.DisplayFor(modelItem => Model.Name)</h3>
                Rating: @Html.Action("getRatingAverage", "Recipes", new { recID = Model.ID })
            </div>

            
        </div>
    </div>
}