@model TechnicalProgrammingProject.Models.Ingredient

<div class="ingredient form-group">
    @Html.LabelFor(i => i.Name)
    <div class="col-md-3">
        @Html.TextBoxFor(i => i.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(i => i.Name)
    </div>
    @Html.LabelFor(i => i.Quantity)
    <div class="col-md-3">
        @Html.TextBoxFor(i => i.Quantity, new { @class = "form-control" })
        @Html.ValidationMessageFor(i => i.Quantity)
    </div>
    @Html.LabelFor(i => i.Unit)
    <div class="col-md-3">
        @Html.TextBoxFor(i => i.Unit, new { @class = "form-control" })
        @Html.ValidationMessageFor(i => i.Unit)
    </div>
    <button type="button" class="delete-ingredient">Remove Ingredient</button>
</div>