@model TechnicalProgrammingProject.Models.ManageRecipeViewModel

<div class="Manage-Recipe-Main">
    @using (Html.BeginForm("UpdateRecipeStatus", "Users", new { recipeID = Model.RecipeID }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <p>Recipe Name: <a href="@Url.Action("Details", "Recipes", new { id = Model.RecipeID })">@Html.DisplayFor(model => Model.RecipeName)</a></p> 

        <p>Uploaded By: @Html.ActionLink(Model.UploadedUserName, "Index", "Profile", new { id = Model.UploadedUserID }, null)</p>

        <p>Current Status: <b> @Html.DisplayFor(model => Model.Status) </b></p>

        <p> Date Uploaded: @Html.DisplayFor(model => Model.DateUploaded)</p>

        <p> Tags: 
            @foreach (var tag in Model.Tags)
            {
                @Html.Label("-");
                @Html.DisplayFor(modelItem => tag.Name);
            }
        </p>

        <div class="Manage-Recipe-RadioDiv">
            <input class="Manage-Recipe-RadioInput" type="radio" value="pending" name="status" /> Pending <br />
            <input class="Manage-Recipe-RadioInput" type="radio" value="denied" name="status" /> Denied <br />
            <input class="Manage-Recipe-RadioInput" type="radio" value="approved" name="status" /> Approved <br />
        </div>

        <input class="Manage-Recipe-Submit" type="submit" value="Update" />
    }
</div>