@model TechnicalProgrammingProject.Models.DeleteRecipeViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UploadedRecipes[0].ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadedRecipes[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadedRecipes[0].DateUploaded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadedRecipes[0].Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadedRecipes[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadedRecipes[0].isDelete)
            </th>
            <th></th>
        </tr>
        @for (var i = 0; i < Model.UploadedRecipes.Count(); i++)
        {
            <tr>
                <td>
                    @Html.HiddenFor(m => Model.UploadedRecipes[i].ID)
                </td>
                <td>
                    @Html.DisplayFor(m => Model.UploadedRecipes[i].Name)
                </td>
                <td>
                    <img class="recipeImage" src=@Html.DisplayFor(m => Model.UploadedRecipes[i].Image)>
                </td>
                <td>
                    @Html.DisplayFor(m => Model.UploadedRecipes[i].DateUploaded)
                </td>
                <td>
                    @Html.DisplayFor(m => Model.UploadedRecipes[i].Rating)
                </td>
                <td>
                    @Html.DisplayFor(m => Model.UploadedRecipes[i].Status)
                </td>
                <td>
                    @Html.EditorFor(m => Model.UploadedRecipes[i].isDelete)
                </td>
            </tr>
        }
    </table>
    <input type="submit" value="Delete" class="btn btn-default" />
}