@model TechnicalProgrammingProject.Models.Recipe

<div class="recipe-page-body">
    <h3 id="recipe-page-title"> Recipe Details</h3>
    <hr />

    <h4 id="recipe-name">
        @Html.DisplayFor(model => model.Name)
    </h4>
    @using (Html.BeginForm("DeleteUpload", "Recipes", new { id = Model.ID }, FormMethod.Post, null))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("returnUrl", (object) ViewBag.ReturnUrl)
        <input type="submit" value="Delete" class="btn btn-default" />
    }

    <p>Uploaded By: @Html.ActionLink(Model.ApplicationUser.DisplayName, "Index", "Profile", new { id = Model.ApplicationUser.Id }, null)</p>

    <div class="recipe-details">
        <p>
            @Html.DisplayFor(model => model.Description)
        </p>

        @Html.Image(Model.ImageURL, new { @class = "recipe-image" })
        on
        <p>
            Cook Time : @Html.DisplayFor(model => model.CookTime)
        </p>

        <p>
            Number of Servings : @Html.DisplayFor(model => model.Servings)
        </p>

        <p>
            @Html.DisplayFor(model => model.Directions)
        </p>

        <p>
            Rating : @Html.DisplayFor(model => model.Rating)/10!
        </p>

        <p>
            Tags:
            @foreach (var tag in Model.Tags)
            {
                @Html.DisplayFor(modelItem => tag.Name);
                @Html.Label(",");
            }
        </p>

        @if (Model.Ingredients == null)
        {
            <p id="recipe-noingredients">
                No Ingredients are available for this recipe.
            </p>
        }
        else
        {
            foreach (var ingredient in Model.Ingredients)
            {
                <div class="recipe-ingredient">
                    <p>
                        @Html.DisplayFor(modelItemm => ingredient.Name)
                        <div id="recipe-ingredient-details">
                            @Html.DisplayFor(modelItemm => ingredient.Quantity) 
                            @Html.DisplayFor(modelItemm => ingredient.Unit)
                        </div>
                        <br />
                    </p>
                </div>
            }
        }
    </div>
</div>
